# Node modules and build outputs
**/node_modules
**/dist
**/build
**/tmp
**/.temp
**/.tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
**/.env
**/.env.*.local
**/.env.* 

# IDEs and editors
/.idea/
/.vscode/
/*.sublime-workspace
/*.launch

# OS files
.DS_Store

# Checklist or other docs
CHECKLIST.md